.shapeButton {
    font-size: 2rem;
    transition: transform 0.5s ease-in-out;
}

.shapeButton:hover {
    /* color: rgba(85, 221, 224, 1.0); */
    transform: rotate(120deg);
}

.cubeButton {
    font-size: 2rem;
    transition: transform 0.5s ease-in-out;
}

.cubeButton:hover {
    /* color: rgba(85, 221, 224, 1.0); */
    /* transform: rotate(120deg); */
     transform: scaleX(-1);
}

.cube-reverse {
    font-size: 2rem;
    transition: transform 0.5s ease-in-out;
    transform: scaleX(-1);
}
