.ripple-container {
  position: relative;
  width: 600px; /* adjust as needed */
  height: 600px; /* adjust as needed */
}

.shape {
  position: absolute;
  background-color: black;
  overflow: hidden; 
}

.square {
  width: 200px; /* adjust as needed */
  height: 200px; /* adjust as needed */
}

.circle {
  width: 200px; /* adjust as needed */
  height: 200px; /* adjust as needed */
  border-radius: 50%;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}


.rim1, .rim2, .rim3 {
  border: white 3em solid;
  background: black;
}

.tl1 {
  animation: expand-top-left 2s linear infinite;
  transform-origin: right bottom;
}

.tl2 {
  animation: expand-top-left 2s linear 0.666666s infinite;
   transform-origin: right bottom;
}

.tl3 {
  animation: expand-top-left 2s linear 1.333333s infinite;
   transform-origin: right bottom;
}
/* --------------------------------------------------------------------- */

.tr1 {
  animation: expand-top-right 2s linear infinite;
   transform-origin: left bottom;
}


.tr2 {
  animation: expand-top-right 2s linear 0.666666s infinite;
  transform-origin: left bottom;

}

.tr3 {
  animation: expand-top-right 2s linear 1.333333s infinite;
  transform-origin: left bottom;
}

/* --------------------------------------------------------------------- */


.bl1 {
  animation: expand-bottom-left 2s linear infinite;
  transform-origin: right top;
}

.bl2 {
  animation: expand-bottom-left 2s linear 0.666666s infinite;
  transform-origin: right top;
}

.bl3 {
  animation: expand-bottom-left 2s linear 1.333333s  infinite;
  transform-origin: right top;
}

.br1 {
  animation: expand-bottom-right 2s linear infinite;
  transform-origin: left top;
}

.br2 {
  animation: expand-bottom-right 2s linear 0.666666s infinite;
   transform-origin: left top;
}

.br3 {
  animation: expand-bottom-right 2s linear 1.333333s  infinite;
   transform-origin: left top;
}


@keyframes expand-top-left {
  0% {
    transform: scale(0.3);
    opacity: 1;
    z-index: 3;
  }
  50% {
    z-index:2
  }
  100% {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
  }
}



/* Top-Right Position Ripple */
@keyframes expand-top-right {
  0% {
    transform: 
    scale(0.3);
    opacity: 1;
    z-index: 3;
  }
  50% {
    z-index:2
  }
  100% {
    transform: 
    scale(1);
    opacity: 1;
    z-index: 1;
  }
}



/* Bottom-Left Position Ripple */
@keyframes expand-bottom-left {
  0% {
    transform: 
    scale(0.3);
    opacity: 1;
    z-index: 3;
  }
  50% {
    z-index:2
  }
  100% {
    transform: 
    scale(1);
    opacity: 1;
    z-index: 1;
  }
}

/* Bottom-Right Position Ripple */
@keyframes expand-bottom-right {
  0% {
    transform: 
    scale(0.3);
    opacity: 1;
    z-index: 3;
  }
  50% {
    z-index:2
  }
  100% {
    transform: 
    scale(1);
    opacity: 1;
    z-index: 1;
  }
}
