.App {
  position: relative; /* Needed for proper layering */
  /* height: 100vh; */
  overflow: hidden; /* Prevents scrolling */
}

/* The container for both components */
.relative-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* The ThreeScene component */
.three-scene {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1; /* Behind the Sliders */
}

/* The Sliders component */
.sliders {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2; /* On top of the ThreeScene */
}

.MuiTypography-root {
    color: white !important;
}
